.logout-btn {
  background: #256428;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.lieferschein-buttons {
  margin: auto;
  width: fit-content;
}

.print-button,
.bestatigen-button {
  flex: 1; 
  padding: 12px 18px;
  border: 2px solid #e2e8f0;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #f9f9f9;
  color: #444;
  transition: all 0.2s ease-in-out;
  margin-right: 20px;
}

.bestatigen-button:disabled {
  background-color: #cccccc;  /* grau */
  color: #666666;            /* etwas dunklerer Text */
  cursor: not-allowed;       /* Zeiger zeigt Sperrsymbol */
  opacity: 0.7;
}

.print-button:hover,
.bestatigen-button:hover {
  background: #e2e8f0;
}

.back-button {
  flex: 1; 
  padding: 12px 18px;
  border: 2px solid #e2e8f0;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #f9f9f9;
  color: #444;
  transition: all 0.2s ease-in-out;
}

.back-button:hover {
  background-color: #e2e8f0;
}

.komplettstorno-button {
  padding: 11px 25px;
  border-radius: 10px;
  border: 2px solid #e2e8f0;
}

.summen-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
  border-top: 2px solid #ddd;
  padding-top: 15px;
}

.summe-zeile {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px; 
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap; 
}

.rabatt-zeile {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  align-items: center;
  margin-bottom: 10px;
}

.rabatt-zeile label {
  font-size: 1rem;
}

.rabatt-zeile input {
  width: 120px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

/* Review-Button */
.review-button {
  flex: 1; 
  padding: 12px 18px;
  border: 2px solid #e2e8f0;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #f9f9f9;
  color: #444;
  transition: all 0.2s ease-in-out;
  margin-right: 20px;
}

.review-button:hover {
  background-color: #e2e8f0;
}
